<div className='boxes' key={curElement.id}>
    <div className='box'>
      <img className='img' src={curElement.img} alt=''>
      </img>
      <div className='cardicons'>
        <OverlayTrigger variant='light' overlay={<Tooltip id="tooltip" >Add To Cart!</Tooltip>}>
          <span className="d-inline-block">
            <FontAwesomeIcon icon={faCartShopping} style={{ color: "", fontSize: '20px', margin: '5px' }} />
          </span>
        </OverlayTrigger>
        <OverlayTrigger overlay={<Tooltip id="tooltip">Add To Wishlist!</Tooltip>}>
          <span className="d-inline-block">
            <FontAwesomeIcon icon={faBars} style={{ color: "", fontSize: '20px', margin: '5px' }} />
          </span>
        </OverlayTrigger>
      </div>
      <span className="box-title">{curElement.Name || 'Product Name'}</span>
      <h4 className="box-description">{curElement.type || 'Product Description'}</h4>
      <p className="box-price ">Price: {curElement.price}</p>
      <button className='btn'>Select Options</button>
    </div>
  </div>
  <Button variant="dark"><FontAwesomeIcon icon={faMagnifyingGlass} style={{ color: "#4084a1", fontSize: '20px', verticalAlign: 'middle' }} /></Button>